@import './mixins.scss';

.search-bar-container {
  width: 100%;
  @include flex-center;
  position: relative;
}

.search-bar {
  background-color: rgba(0,0,0,0.35);
  @include no-border;
  @include pxy-10-20;
  @include rounded;
  width: 100%;
  color: #fff;
}

.search-bar-btn {
  position: absolute;
  right: 0;
  padding: 10px 25px;
  @include no-border;
  @include rounded;
  @include dodger;
  opacity: 0.7;
}

.search-bar-btn:hover {
  @include white;
  opacity: 1;
}



